<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339200360584-75h9rckg4q7vq8kuca7sv65tou2guq86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339200360584-75h9rckg4q7vq8kuca7sv65tou2guq86</string>
	<key>API_KEY</key>
	<string>AIzaSyAbqYCAUazIsltUBHUUSH-lU_2Isbu4JgY</string>
	<key>GCM_SENDER_ID</key>
	<string>339200360584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>devin12422.Fred</string>
	<key>PROJECT_ID</key>
	<string>fred-6048b</string>
	<key>STORAGE_BUCKET</key>
	<string>fred-6048b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339200360584:ios:ba11bc4974bc18605e5f3d</string>
</dict>
</plist>